:root {
  --praimary: #00a899;
  --lightGray: #b3b3b3de;
  --Cormorant : Cormorant;
  --Montserrat: Montserrat;
  --Cardo: Cardo;
  --JosefinSlab: Josefin Slab;
}
* {
  box-sizing: border-box;
  /* font-family: "Cormorant", sans-serif; */
}
body{background-color: rgba(240, 238, 234, 0.979);}
article {
  margin: 0;
  padding: 0 !important ;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pro_row {
  width: 100%;
  height: fit-content;
  padding: 0;
  /* background-color: #00776d5e; */
}
.pro_col{
  padding: 0;
}
.pro_heading2{
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
#product_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* width: 60%; */
  float: left;
}

#date_time_picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

#arrival_window {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.storage-item {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 5px;
}

.storage-item input[type="number"] {
  text-align: center;
}

.next-step {
  margin-top: 20px;
}

/* @media (max-width: 768px) {
    #product_list, .price-summary {
        width: 100%;
        float: none;
    }
} */

.price-summary {
  /* width: 35%; */
  /* float: right; */
  background: #00a89a48;
  padding: 15px;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid #ccc;
}

.price-summary h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-summary p {
  font-size: 16px;
  color: #000000;
  margin: 5px 0;
  font-weight: 500;
}

.price-summary p strong {
  font-weight: bold;
}

.price-summary #price_details {
  margin-bottom: 10px;
}

.price-summary span {
  float: right;
}

.price-summary hr {
  border: none;
  height: 1px;
  background: #000;
  margin: 10px 0;
}

.price-summary .return-info {
  font-size: 12px;
  color: #666;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.is-invalid {
  border-color: red;
}

.prev_next_button {
  clear: both;
}
/* ====input==== */
.pro_inputBox {
  width: 100%;
  position: relative !important;
}
.pro_inputBox input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  position: relative;
  outline: 1px solid transparent;
  border: 1px solid var(--lightGray);
  border-radius: 4px !important;
}
.pro_inputBox input:hover {
  border: 1px solid black;
  outline: 1px solid black;
}
.pro_inputBox input:focus {
  border: 1px solid #00a899;
  outline: 1px solid #00a899;
  border-radius: 3px;
}
.pro_inputBox label {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  top: 10px;
  left: 10px;
  z-index: 9;
  background-color: #fff;
  transition: 0.1s all linear;
  font-size: 14px;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
}
.pro_inputBox .filled {
  top: -12px;
  left: 10px;
  color: var(--praimary);
}
#enterManually {
  color: black;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.pro_row .CustomItem {
  margin-top: 20px;
}

/*add by kamruzzaman*/





/* =================== */
.next-step {
  background-color: #00a899;
  padding: 8px 42px;
  border-radius: 4px;
}
a {
  color: #00a899;
}

[type=button], [type=submit], button {
  color: white !important;
  border-radius: 0 !important;
  border: 2px solid #127878 !important;
}

[type=button]:hover, [type=submit]:hover, button:hover {
  background-color: #127878 !important;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: white;
  border-color: #00a899 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem #00a89a44;
}

.qty-btn {
  border: none !important;
  outline: none !important;
  border-radius: 3px !important;
}
/* ====picup date table==== */
#ui-datepicker-div table.ui-datepicker-calendar{
  border-spacing: 5px 10px !important;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev , .ui-datepicker-next {
  color: #00a899 !important;
  background-color: transparent !important;
}
#ui-datepicker-div .ui-datepicker-calendar tbody{
  border-spacing: 5px 10px !important;
  background-color: #eeeeee8a !important;
}
#ui-datepicker-div .ui-datepicker-calendar thead tr th{
  border-spacing: 2px 5px !important;
  background: transparent !important;
  border: 4px solid transparent !important;
  color: #fff !important;
  border-radius: 5px;
  padding: 0 !important;
  width: 59px !important;
  height: 59px !important;
}
#ui-datepicker-div .ui-datepicker-calendar thead tr th span{
  /* background-color: #ebebeb; */
  display: block;
  width: 100%;
  height: 100% !important;
  /* border: 2px solid #00a899; */
  border-radius: 4px;
  padding:11px 6px 6px 6px;
  color: #00a899;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td {
  border-spacing: 2px 5px !important;
  background: #eeeeeeb9 !important;
  border: 5px solid transparent !important;
  color: #fff !important;
  border-radius: 5px;
  padding: 0 !important;
  width: 59px !important;
  height: 59px !important;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td span{
  background-color: #e7e7e78f;
  color: #00a899 !important;
  font-weight: 700;
  display: block;
  width: 100%;
  height: 100% !important;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding:11px 6px 6px 6px;
  font-weight: 800;
  font-size: 18px;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td a{
  background-color: #e7e7e7;
  color: #00a899 !important;
  font-weight: 700;
  display: block;
  width: 100%;
  height: 100% !important;
  border: 2px solid #00a899;
  border-radius: 4px;
  padding:11px 6px 6px 6px;
  font-weight: 700;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td .ui-state-active{
  color: #fff !important;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr .ui-datepicker-unselectable span{
  color: #9e9e9e !important;
}

/*css shifted from plugin main file*/

#multi-step-checkout {
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: -90px;
  font-family: var(--JosefinSlab) !important;
  font-weight: 500!important;
  }
  #multi-step-checkout p{
      font-size:18px;
      font-weight: 500;
  }
  #nav-bar-wrapper{
      width: 100%;
      height: fit-content;
      position: sticky;
      background-color: #fff;
      top: 20px;
      left: 0;
      z-index: 999;
  }
  #mainWarpper{
  width: 100% !important;
  display: flex !important;
  gap: 50px;
  }
  .pro_col_70{
  width:70% !important;
  }
  .pro_col_30{
      width: 30% !important;
  }
  #price-summary-wrapper{
    position: sticky;
    top: 150px;
    right: 0;
  }
  @media (max-width: 576px) {
      #mainWarpper{
      width: 100% !important;
      display: flex !important;
      flex-wrap: wrap !important;
      gap: 20px;
      }
      .pro_col_70{
      width:100% !important;
      }
      .pro_col_30{
          display: none !important;
      }
  }

@media (min-width: 576px) and (max-width: 768px) {
  #mainWarpper{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 20px;
  }
  .pro_col_70{
  width:100% !important;
  }

}
  @media (min-width: 576px) and (max-width: 992px) {
      #mainWarpper{
      width: 100% !important;
      display: flex !important;
      flex-wrap: wrap !important;
      gap: 20px;
      }
      .pro_col_70{
      width:100% !important;
      }
      .pro_col_30{
          display: none !important;
      }
  } 



